@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700&family=Inter:wght@400;700&family=Noto+Sans:wght@300;600&display=swap');
*{
  margin:0;
  box-sizing: border-box;
  font-family: 'Instrument Sans', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}
$greenColor:rgba(61, 180, 109, 0.76);
$hoverGreenColor:rgb(127, 252, 177);
$btntxtColor:rgba(255, 255, 255, 1);

.app{
  color:$greenColor;
 
  &-model{
     overflow: hidden;
  }
}

